.baseHeader {
  position: fixed;
  width: 100%;
  top: 0;
}

.baseNav {
  position: relative;
  display: flex;
  justify-content: center;
}

.markerParent {
  padding-top: 24px;
  position: relative;
}

.marker {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  top: 0px;
  left: 0;
  transition: 0.3s ease-out;
}

.navLink {
  color: #a1a1a1;
}

.navLink:hover {
  color: #ffffff;
  font-weight: bold;
}

.navLink:not(:last-child) {
  margin-right: 32px;
}

.active {
  color: #ffffff;
  font-weight: bold;
}
