.container {
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 36px;
  color: #a2a2a2;
  text-align: center;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialContainer a:not(:last-child) {
  margin-right: 24px;
}

.socialContainer a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 24px;
  }
}
